.lmj-banner{
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: 3px solid black;
    display: flex;
    justify-content: space-between;
}

.lmg-banner-title {
    width:350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lmj-title {
    padding-left: 32px;
    text-transform: capitalize;
}

.lmj-logo {
    height: 45px;
    width: 45px;
}

.lmj-logo-cart {
    height: 20px;
    width: 30px;
    margin-bottom: -4px;
}

@media (prefers-reduced-motion: no-preference) {
    .lmj-logo {
      animation: lmj-logo-spin infinite 20s linear;
    }
  }

@keyframes lmj-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.lmj-liste {
    display: flex;
    align-self:flex-end;
    height: 50px;
    margin-bottom: -20px;
    align-items: center;
}
.lmj-liste ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-left: 0;

}
.lmj-liste li {
    list-style-type: none;
    margin: auto;
    cursor: pointer;
}

.lmj-total {
    margin-left: 5px;
    font-weight: 600;
    color: #31b572;
}


