.lmj-banner{
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: 3px solid black;
}

.lmj-title {
    padding-left: 32px;
}

.lmj-logo {
    height: 45px;
    width: 45px;
}

@media (prefers-reduced-motion: no-preference) {
    .lmj-logo {
      animation: lmj-logo-spin infinite 20s linear;
    }
  }

@keyframes lmj-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}