.lmj-layout-inner {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.backgroundZone {
   background-image: url("../assets/jungle.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   min-height: 900px;
}