.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	max-width: 2200px;
	margin: auto;
}

.lmj-plant-list button {
	margin-bottom: 25px;
	margin-left: 10px;
}

.lmj-plant-item {
	border-radius: 10px;
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	padding: 0;
}

.lmj-plant-item-cover {
	height: auto;
	min-width: 100%;
	margin: 0;
}

.lmj-sales {
	position: absolute;
	right: 0px;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: #31b572;
	border-radius: 50% 20% 20% 50%;
}

.lmj-categories {
	list-style-type: none;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 600;
}

h2 {
	margin-left: 30px;
}

.lmj-article {
	background-color: rgb(255, 255, 255, 0.4);
	backdrop-filter: blur(15px);
	margin: 10px;
	padding: 0;
	border-radius: 10px;
}